In [1]:
import pandas as pd
df=pd.read_csv("sales_dirty_data.csv")
df.head()

,Order_ID,Order_Date,Customer_Name,Product,Category,Quantity,Price,Total_Amount,Payment_Mode,City
0,1001,2024-01-05,Rahul Sharma,Laptop,Electronics,1.0,55000,55000.0,Card,Mumbai
1,1002,05-01-2024,Anita Verma,Mobile,Electronics,2.0,15000,NaN,UPI,Delhi
2,1003,2024/01/06,NaN,Headphones,Electronics,1.0,2000,2000.0,Cash,Pune
3,1004,2024-01-07,Suresh Patil,Chair,Furniture,3.0,2500,7500.0,NaN,Bangalore
4,1005,2024-01-08,Meena Joshi,Table,Furniture,NaN,4000,4000.0,Card,Mumbai

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order_ID       20 non-null     int64
 1   Order_Date     20 non-null     object
 2   Customer_Name  18 non-null     object
 3   Product        20 non-null     object
 4   Category       20 non-null     object
 5   Quantity       19 non-null     float64
 6   Price          20 non-null     int64
 7   Total_Amount   18 non-null     float64
 8   Payment_Mode   18 non-null     object
 9   City           19 non-null     object
dtypes: float64(2), int64(2), object(6)
memory usage: 1.7+ KB

In [3]:
df.isnull().sum()

Order_ID         0
Order_Date       0
Customer_Name    2
Product          0
Category         0
Quantity         1
Price            0
Total_Amount     2
Payment_Mode     2
City             1
dtype: int64

In [4]:
df["Order_Date"]=pd.to_datetime(df["Order_Date"],dayfirst=True, errors='coerce')

In [5]:
df["Order_Date"].head()

0   2024-05-01
1          NaT
2          NaT
3   2024-07-01
4   2024-08-01
Name: Order_Date, dtype: datetime64[ns]

In [6]:
df["Customer_Name"]=df["Customer_Name"].fillna("Unknown")

In [7]:
df["Customer_Name"].head()

0    Rahul Sharma
1     Anita Verma
2         Unknown
3    Suresh Patil
4     Meena Joshi
Name: Customer_Name, dtype: object

In [8]:
df["Payment_Mode"]=df["Payment_Mode"].str.lower()

In [9]:
df["Payment_Mode"]=df["Payment_Mode"].replace({"card":"Card","cash":"Cash","upi":"UPI"})

In [10]:
df["Payment_Mode"]=df["Payment_Mode"].fillna("Card")

In [11]:
df["Product"]=df["Product"].replace({"Mobile Phone":"Mobile"})

In [12]:
df["Quantity"]=df["Quantity"].fillna(1)

In [13]:
df=df[df["Quantity"]>0].copy()

In [14]:
df["Total_Amount"]=df["Quantity"]*df["Price"]

In [15]:
df["City"]=df["City"].fillna("Unknown")

In [16]:
df=df.drop_duplicates()

In [17]:
df.info()
df.isnull().sum()
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 19 entries, 0 to 19
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order_ID       19 non-null     int64
 1   Order_Date     9 non-null      datetime64[ns]
 2   Customer_Name  19 non-null     object
 3   Product        19 non-null     object
 4   Category       19 non-null     object
 5   Quantity       19 non-null     float64
 6   Price          19 non-null     int64
 7   Total_Amount   19 non-null     float64
 8   Payment_Mode   19 non-null     object
 9   City           19 non-null     object
dtypes: datetime64[ns](1), float64(2), int64(2), object(5)
memory usage: 1.6+ KB

,Order_ID,Order_Date,Customer_Name,Product,Category,Quantity,Price,Total_Amount,Payment_Mode,City
0,1001,2024-05-01,Rahul Sharma,Laptop,Electronics,1.0,55000,55000.0,Card,Mumbai
1,1002,NaT,Anita Verma,Mobile,Electronics,2.0,15000,30000.0,UPI,Delhi
2,1003,NaT,Unknown,Headphones,Electronics,1.0,2000,2000.0,Cash,Pune
3,1004,2024-07-01,Suresh Patil,Chair,Furniture,3.0,2500,7500.0,Card,Bangalore
4,1005,2024-08-01,Meena Joshi,Table,Furniture,1.0,4000,4000.0,Card,Mumbai

In [18]:
df["Order_Date"].isnull().sum()

np.int64(10)

In [19]:
df[df["Order_Date"].isnull()]

,Order_ID,Order_Date,Customer_Name,Product,Category,Quantity,Price,Total_Amount,Payment_Mode,City
1,1002,NaT,Anita Verma,Mobile,Electronics,2.0,15000,30000.0,UPI,Delhi
2,1003,NaT,Unknown,Headphones,Electronics,1.0,2000,2000.0,Cash,Pune
7,1008,NaT,Arjun Mehta,Laptop,Electronics,1.0,54000,54000.0,Card,Delhi
12,1013,NaT,Ramesh Kumar,Table,Furniture,1.0,4000,4000.0,Cash,Chennai
13,1014,NaT,Unknown,Mobile,Electronics,1.0,15000,15000.0,UPI,Delhi
14,1015,NaT,Meena Joshi,Laptop,Electronics,1.0,55000,55000.0,Card,Mumbai
16,1017,NaT,Pooja Nair,Chair,Furniture,1.0,2500,2500.0,UPI,Kochi
17,1018,NaT,Arjun Mehta,Laptop,Electronics,1.0,54000,54000.0,Card,Delhi
18,1019,NaT,Anita Verma,Mobile,Electronics,1.0,15000,15000.0,UPI,Delhi
19,1020,NaT,Ramesh Kumar,Table,Furniture,1.0,4000,4000.0,Card,Chennai

In [ ]:
# Use the already-cleaned DataFrame `df` from earlier cells
df.info()
df.isnull().sum()
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'sales_clean_data.csv'